body{
    background-color: #e7ebec;
}

h1,
p,
ul{
    text-align: center;
    list-style-type: none;
}

.list-chili{
    padding-right: 0;
    list-style-type: square;
    text-align: left ;
}

.left{
    position: absolute; left: 10px;
}

.right{
    position: absolute; right: 10px;
}

